/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/Login.scss */
* {
  font-family: microsoft yahei;
}

/* line 7, ../sass/Login.scss */
body {
  background-image: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* line 12, ../sass/Login.scss */
body .login {
  width: 250px;
  margin: 173px auto 0;
}
/* line 15, ../sass/Login.scss */
body .login .img {
  width: 48px;
  margin: 0 auto;
}
/* line 20, ../sass/Login.scss */
body .login form .form-group-user {
  margin-top: 28px;
  position: relative;
}
/* line 23, ../sass/Login.scss */
body .login form .form-group-user input {
  width: 213px;
  color: #fff;
  padding-left: 35px;
  border: 1px solid #7a7a7a;
  background-color: #9e9e9a;
  height: 36px;
  line-height: 36px;
  font-size: 21px;
  outline: medium;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-box-shadow: 0 0 1px #dfdfde;
  -webkit-box-shadow: 0 0 1px #dfdfde;
  box-shadow: 0 0 1px #dfdfde;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 0 1px #bdbdbb;
}
/* line 38, ../sass/Login.scss */
body .login form .form-group-user img {
  position: absolute;
  top: 14px;
  left: 14px;
}
/* line 44, ../sass/Login.scss */
body .login form .form-group-key {
  margin-top: 15px;
  position: relative;
}
/* line 47, ../sass/Login.scss */
body .login form .form-group-key input {
  width: 213px;
  color: #fff;
  padding-left: 35px;
  border: 1px solid #7a7a7a;
  background-color: #9e9e9a;
  height: 36px;
  line-height: 36px;
  font-size: 21px;
  outline: medium;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-box-shadow: 0 0 1px #dfdfde;
  -webkit-box-shadow: 0 0 1px #dfdfde;
  box-shadow: 0 0 1px #dfdfde;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 0 1px #bdbdbb;
}
/* line 62, ../sass/Login.scss */
body .login form .form-group-key img {
  position: absolute;
  top: 14px;
  left: 14px;
}
/* line 68, ../sass/Login.scss */
body .login form button {
  margin-top: 15px;
  height: 38px;
  width: 250px;
  color: #fff;
  letter-spacing: .5em;
  background-image: url("../img/button-bg.png");
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 0 1px #7a7a7a;
  -webkit-box-shadow: 0 0 0 1px #7a7a7a;
  box-shadow: 0 0 0 1px #7a7a7a;
  text-shadow: 0 0 1px #bdbdbb;
}
