<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/bank</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <mapping class="com.bank.domain.User"/>
        <mapping class="com.bank.domain.Teller"/>
        <mapping class="com.bank.domain.Personinfo"/>
        <mapping class="com.bank.domain.Status"/>
        <mapping class="com.bank.domain.TransactionLog"/>
        <mapping class="com.bank.domain.TransactionType"/>
        <mapping class="com.bank.domain.Admin"/>
        <mapping class="com.bank.domain.Cunkuanlilv"/>
        <mapping class="com.bank.domain.Daikuanlilv"/>
        <mapping class="com.bank.domain.Manager"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>